We are uploading all csv files of the Scarlet & Violet main and special sets.

Sets: SV01, SV02, SV03, SV: Scarlet & Violet 151, SV04, SV: Paldean Fates, SV05, SV06, SV: Shrouded Fable, SV07, SV08, SV: Prismatic Evolutions, SV09

In [2]:
import pandas as pd
import scipy as sp

sv01_df = pd.read_csv('SV01ScarletAndVioletBaseSetProductsAndPrices.csv')
sv02_df = pd.read_csv('SV02PaldeaEvolvedProductsAndPrices.csv')
sv03_df = pd.read_csv('SV03ObsidianFlamesProductsAndPrices.csv')
sv04_df = pd.read_csv('SV04ParadoxRiftProductsAndPrices.csv')
sv05_df = pd.read_csv('SV05TemporalForcesProductsAndPrices.csv')
sv06_df = pd.read_csv('SV06TwilightMasqueradeProductsAndPrices.csv')
sv07_df = pd.read_csv('SV07StellarCrownProductsAndPrices.csv')
sv08_df = pd.read_csv('SV08SurgingSparksProductsAndPrices.csv')
sv09_df = pd.read_csv('SV09JourneyTogetherProductsAndPrices.csv')
sv_151_df = pd.read_csv('SVScarletAndViolet151ProductsAndPrices.csv')
sv_pf_df = pd.read_csv('SVPaldeanFatesProductsAndPrices.csv')
sv_sf_df = pd.read_csv('SVShroudedFableProductsAndPrices.csv')
sv_pe_df = pd.read_csv('SVPrismaticEvolutionsProductsAndPrices.csv')

We then merge all of these sets into a master set, filter out unnecessary columns, and add a column for the textual set name based on groupId variable.

In [3]:
master_df = pd.concat([sv01_df, sv02_df, sv03_df, sv04_df, sv05_df, sv06_df, sv07_df, sv08_df, sv09_df, sv_151_df, sv_pf_df, sv_sf_df, sv_pe_df])
master_df = master_df[['productId', 'name', 'groupId', 'lowPrice', 'highPrice', 'marketPrice', 'extRarity']]

# filter for cards of specific rarity
master_df = master_df[(master_df['extRarity'] == 'Special Illustration Rare') | (master_df['extRarity'] == 'Illustration Rare') | (master_df['extRarity'] == 'Hyper Rare')]

# add textual set name column
def get_textset(setId):
    setId_list = [22873, 23120, 23228, 23286, 23381, 23473, 23537, 23651, 24073, 23237, 23353, 23529, 23821]
    textId_list = [
        'Scarlet And Violet Base',
        'Paldea Evolved',
        'Obsidian Flames',
        'Paradox Rift',
        'Temporal Forces',
        'Twilight Masquerade',
        'Stellar Crown',
        'Surging Sparks',
        'Journey Together',
        'Scarlet And Violet 151',
        'Paldean Fates',
        'Shrouded Fable',
        'Prismatic Evolutions'
    ]
    index = setId_list.index(setId)
    return textId_list[index]

master_df['set'] = master_df['groupId'].apply(get_textset)

# add release date
def get_dateset(setId):
    name_list = ['Scarlet And Violet Base',
        'Paldea Evolved',
        'Obsidian Flames',
        'Paradox Rift',
        'Temporal Forces',
        'Twilight Masquerade',
        'Stellar Crown',
        'Surging Sparks',
        'Journey Together',
        'Scarlet And Violet 151',
        'Paldean Fates',
        'Shrouded Fable',
        'Prismatic Evolutions']
    date_list = [
        '05-31-2023',
        '06-09-2023',
        '08-11-2023',
        '10-03-2023',
        '03-22-2024',
        '05-24-2024',
        '09-13-2024',
        '11-08-2024',
        '03-28-2025',
        '09-22-2023',
        '01-26-2024',
        '09-02-2024',
        '01-17-2025'
    ]
    index = name_list.index(setId)
    return date_list[index]

master_df['set'] = master_df['groupId'].apply(get_textset)
master_df['release date'] = master_df['set'].apply(get_dateset)

# sort dataframe by card rarity
master_df = master_df.sort_values(by=['groupId', 'extRarity'])

# reset index
master_df = master_df.reset_index()
master_df.index +=1

master_df['release date'] = pd.to_datetime(master_df['release date'], format='%m-%d-%Y')

display(master_df)

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
1,437,490043,Miraidon ex - 253/198,22873,4.99,60.00,5.76,Hyper Rare,Scarlet And Violet Base,2023-05-31
2,439,490045,Koraidon ex - 254/198,22873,3.00,28.20,5.50,Hyper Rare,Scarlet And Violet Base,2023-05-31
3,483,490294,Basic Fighting Energy - 258/198,22873,2.39,25.00,3.14,Hyper Rare,Scarlet And Violet Base,2023-05-31
4,484,490295,Basic Lightning Energy - 257/198,22873,3.00,50.00,5.01,Hyper Rare,Scarlet And Violet Base,2023-05-31
5,485,490296,Rare Candy - 256/198,22873,5.80,30.02,7.83,Hyper Rare,Scarlet And Violet Base,2023-05-31
...,...,...,...,...,...,...,...,...,...,...
437,338,623610,Iono's Bellibolt ex - 183/159,24073,135.00,180.00,136.62,Special Illustration Rare,Journey Together,2025-03-28
438,339,623611,Lillie's Clefairy ex - 184/159,24073,300.00,329.36,328.63,Special Illustration Rare,Journey Together,2025-03-28
439,340,623612,N's Zoroark ex - 185/159,24073,214.10,219.99,219.62,Special Illustration Rare,Journey Together,2025-03-28
440,341,623613,Hop's Zacian ex - 186/159,24073,175.00,179.99,178.79,Special Illustration Rare,Journey Together,2025-03-28
441,342,623614,Salamence ex - 187/159,24073,200.00,240.00,238.03,Special Illustration Rare,Journey Together,2025-03-28

We will also have to fill in all NaN values, especially for the market prices of recent sets (ie. SV09 Journey Together).

In order to fill in the NaN values, we will take the average of the lowPrice and highPrice values and input the average into marketPrice.

In [4]:
def fill_market_price(row):
    if pd.isna(row['marketPrice']):
        low_high_average = (row['lowPrice'] + row['highPrice'])/2
        row['marketPrice'] = round(low_high_average, 2)
    return row['marketPrice']

master_df['marketPrice'] = master_df.apply(fill_market_price, axis=1)

We will now conduct three hypothesis tests to observe trends and patterns in data.

TEST I: Using an ANOVA test, we plan on determining if the average price of cards of the same rarity vary significantly across all relevant sets
(relevant sets - scarlet and violet main and special sets)

Because we are testing multiple categories and observing if they exist within the same distribution, an ANOVA test would be appropriate.
Significance level = 0.05 (Level of confidence = 95%)

H0: There is no significant difference in the prices of the same card rarity across the relevant sets.
HA: There exists significant differences in the prices of the same card rarity across the relevant sets.

In [5]:
hr_df = master_df[master_df['extRarity'] == 'Hyper Rare']
ir_df = master_df[master_df['extRarity'] == 'Illustration Rare']
sir_df = master_df[master_df['extRarity'] == 'Special Illustration Rare']

hr_sets = hr_df.groupby('set', sort=False)
for set,group in hr_sets:
    group = group.sort_values(by='marketPrice')
    display(group)

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
3,483,490294,Basic Fighting Energy - 258/198,22873,2.39,25.00,3.14,Hyper Rare,Scarlet And Violet Base,2023-05-31
4,484,490295,Basic Lightning Energy - 257/198,22873,3.00,50.00,5.01,Hyper Rare,Scarlet And Violet Base,2023-05-31
2,439,490045,Koraidon ex - 254/198,22873,3.00,28.20,5.50,Hyper Rare,Scarlet And Violet Base,2023-05-31
1,437,490043,Miraidon ex - 253/198,22873,4.99,60.00,5.76,Hyper Rare,Scarlet And Violet Base,2023-05-31
5,485,490296,Rare Candy - 256/198,22873,5.80,30.02,7.83,Hyper Rare,Scarlet And Violet Base,2023-05-31
6,486,490297,Nest Ball - 255/198,22873,10.00,50.00,11.56,Hyper Rare,Scarlet And Violet Base,2023-05-31

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
45,465,497696,Ting-Lu ex - 275/193,23120,1.98,24.95,2.68,Hyper Rare,Paldea Evolved,2023-06-09
43,463,497694,Quaquaval ex - 273/193,23120,3.40,20.00,4.71,Hyper Rare,Paldea Evolved,2023-06-09
42,462,497693,Skeledirge ex - 272/193,23120,4.00,29.95,4.77,Hyper Rare,Paldea Evolved,2023-06-09
44,464,497695,Chien-Pao ex - 274/193,23120,4.49,30.00,5.46,Hyper Rare,Paldea Evolved,2023-06-09
41,461,497692,Meowscarada ex - 271/193,23120,4.48,20.00,5.65,Hyper Rare,Paldea Evolved,2023-06-09
49,469,497701,Basic Water Energy - 279/193,23120,4.00,29.99,5.78,Hyper Rare,Paldea Evolved,2023-06-09
47,467,497699,Superior Energy Retrieval - 277/193,23120,4.96,29.99,6.63,Hyper Rare,Paldea Evolved,2023-06-09
48,468,497700,Basic Grass Energy - 278/193,23120,5.99,24.00,7.20,Hyper Rare,Paldea Evolved,2023-06-09
46,466,497697,Super Rod - 276/193,23120,7.84,38.95,9.11,Hyper Rare,Paldea Evolved,2023-06-09

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
102,409,509990,Artazon - 229/197,23228,1.00,35.0,2.62,Hyper Rare,Obsidian Flames,2023-08-11
103,410,509992,Basic Fire Energy - 230/197,23228,2.99,25.0,4.38,Hyper Rare,Obsidian Flames,2023-08-11
101,408,509989,Charizard ex - 228/197,23228,18.85,100.0,22.07,Hyper Rare,Obsidian Flames,2023-08-11

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
123,373,517052,Switch - 206/165,23237,1.52,20.94,3.09,Hyper Rare,Scarlet And Violet 151,2023-09-22
124,374,517053,Basic Psychic Energy - 207/165,23237,3.45,19.99,4.42,Hyper Rare,Scarlet And Violet 151,2023-09-22
122,372,517051,Mew ex - 205/165,23237,10.00,50.00,12.58,Hyper Rare,Scarlet And Violet 151,2023-09-22

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
151,445,523944,Beach Court - 263/182,23286,2.59,20.00,3.99,Hyper Rare,Paradox Rift,2023-10-03
149,443,523942,Iron Valiant ex - 261/182,23286,3.55,19.95,4.47,Hyper Rare,Paradox Rift,2023-10-03
153,447,523946,Luxurious Cape - 265/182,23286,3.49,35.00,5.27,Hyper Rare,Paradox Rift,2023-10-03
154,448,523947,Reversal Energy - 266/182,23286,3.90,14.95,5.80,Hyper Rare,Paradox Rift,2023-10-03
150,444,523943,Roaring Moon ex - 262/182,23286,4.76,33.20,6.72,Hyper Rare,Paradox Rift,2023-10-03
152,446,523945,Counter Catcher - 264/182,23286,6.00,24.95,8.52,Hyper Rare,Paradox Rift,2023-10-03
148,442,523941,Garchomp ex - 260/182,23286,9.99,75.00,12.21,Hyper Rare,Paradox Rift,2023-10-03

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
208,312,535127,Ting-Lu ex,23353,4.39,29.55,5.59,Hyper Rare,Paldean Fates,2024-01-26
204,305,535112,Wo-Chien ex,23353,4.99,24.96,6.14,Hyper Rare,Paldean Fates,2024-01-26
205,306,535116,Chi-Yu ex,23353,4.00,50.00,8.35,Hyper Rare,Paldean Fates,2024-01-26
206,308,535120,Chien-Pao ex,23353,6.99,100.00,9.22,Hyper Rare,Paldean Fates,2024-01-26
209,315,535134,Koraidon ex,23353,8.45,80.00,11.55,Hyper Rare,Paldean Fates,2024-01-26
207,310,535124,Miraidon ex,23353,9.00,29.95,11.87,Hyper Rare,Paldean Fates,2024-01-26

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
221,372,542934,Iron Leaves ex - 213/162,23381,6.00,24.95,8.29,Hyper Rare,Temporal Forces,2024-03-22
225,376,542938,Iron Boulder ex - 217/162,23381,7.00,59.95,10.05,Hyper Rare,Temporal Forces,2024-03-22
223,374,542936,Walking Wake ex - 215/162,23381,8.70,29.95,11.54,Hyper Rare,Temporal Forces,2024-03-22
224,375,542937,Iron Crown ex - 216/162,23381,8.00,29.95,13.02,Hyper Rare,Temporal Forces,2024-03-22
222,373,542935,Gouging Fire ex - 214/162,23381,10.59,30.00,13.08,Hyper Rare,Temporal Forces,2024-03-22
226,377,542939,Raging Bolt ex - 218/162,23381,15.20,125.00,21.18,Hyper Rare,Temporal Forces,2024-03-22

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
262,389,550268,Enhanced Hammer - 224/167,23473,3.81,16.79,6.01,Hyper Rare,Twilight Masquerade,2024-05-24
263,390,550269,Rescue Board,23473,7.00,24.99,8.62,Hyper Rare,Twilight Masquerade,2024-05-24
264,391,550270,Luminous Energy,23473,6.00,19.95,9.18,Hyper Rare,Twilight Masquerade,2024-05-24
260,387,550266,Bloodmoon Ursaluna ex - 222/167,23473,6.99,29.95,11.49,Hyper Rare,Twilight Masquerade,2024-05-24
259,386,550265,Teal Mask Ogerpon ex - 221/167,23473,12.00,39.99,14.50,Hyper Rare,Twilight Masquerade,2024-05-24
261,388,550267,Buddy-Buddy Poffin,23473,20.50,79.99,21.90,Hyper Rare,Twilight Masquerade,2024-05-24

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
299,170,560408,Powerglass - 097/064,23529,15.00,44.95,18.78,Hyper Rare,Shrouded Fable,2024-09-02
297,168,560406,Pecharunt ex - 095/064,23529,22.17,59.95,25.03,Hyper Rare,Shrouded Fable,2024-09-02
300,171,560409,Basic Darkness Energy,23529,30.00,79.95,33.11,Hyper Rare,Shrouded Fable,2024-09-02
301,172,560410,Basic Metal Energy,23529,28.99,69.95,35.41,Hyper Rare,Shrouded Fable,2024-09-02
298,169,560407,Earthen Vessel,23529,45.00,134.00,47.43,Hyper Rare,Shrouded Fable,2024-09-02

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
324,317,567491,Bravery Charm,23537,7.0,30.00,9.41,Hyper Rare,Stellar Crown,2024-09-13
322,315,567486,Terapagos ex - 173/142,23537,10.0,53.97,15.35,Hyper Rare,Stellar Crown,2024-09-13
323,316,567490,Area Zero Underdepths - 174/142,23537,13.0,39.95,17.71,Hyper Rare,Stellar Crown,2024-09-13

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
346,433,593856,Counter Gain - 249/191,23651,4.48,19.99,5.64,Hyper Rare,Surging Sparks,2024-11-08
347,434,593857,Gravity Mountain - 250/191,23651,9.00,75.00,9.77,Hyper Rare,Surging Sparks,2024-11-08
349,436,593861,Jet Energy,23651,10.00,70.00,11.43,Hyper Rare,Surging Sparks,2024-11-08
345,432,593855,Alolan Exeggutor ex - 248/191,23651,12.99,44.95,15.34,Hyper Rare,Surging Sparks,2024-11-08
348,435,593859,Night Stretcher - 251/191,23651,20.00,69.95,23.91,Hyper Rare,Surging Sparks,2024-11-08
344,430,593169,Pikachu ex - 247/191,23651,87.46,280.00,96.76,Hyper Rare,Surging Sparks,2024-11-08

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
384,304,610531,Iron Leaves ex,23821,8.0,54.49,10.25,Hyper Rare,Prismatic Evolutions,2025-01-17
386,306,610533,Walking Wake ex,23821,10.0,46.01,13.94,Hyper Rare,Prismatic Evolutions,2025-01-17
385,305,610532,Teal Mask Ogerpon ex - 177/131,23821,15.0,44.95,17.80,Hyper Rare,Prismatic Evolutions,2025-01-17
388,308,610535,Terapagos ex - 180/131,23821,17.0,125.00,20.23,Hyper Rare,Prismatic Evolutions,2025-01-17
387,307,610534,Pikachu ex - 179/131,23821,73.0,325.00,78.57,Hyper Rare,Prismatic Evolutions,2025-01-17

,index,productId,name,groupId,lowPrice,highPrice,marketPrice,extRarity,set,release date
423,345,623617,Spike Energy - 190/159,24073,39.6,73.67,56.64,Hyper Rare,Journey Together,2025-03-28
421,343,623615,Iono's Bellibolt ex - 188/159,24073,56.0,70.00,60.00,Hyper Rare,Journey Together,2025-03-28
422,344,623616,N's Zoroark ex - 189/159,24073,140.0,180.00,160.00,Hyper Rare,Journey Together,2025-03-28

TEST 2:
We will be conducting a correlation test to determine whether or not the popularity of a set has an linear relation with the average price of a set. Since we are trying to two variables to see if they have a correlation with one another, a correlation test will be appropiate. Signficance Level = .05 (Level of Confidence = 95%).

Null Hypothesis:
There is no correlation between the average price of the set and the popularity of a set.

Alternative Hypothesis:
There is a correlation between the average price of the set and the popularity of the set.

In [10]:
sv01_price = sv01_df[sv01_df['name'] == 'Scarlet & Violet Booster Pack']
sv02_price = sv02_df[sv02_df['name'] == 'Paldea Evolved Booster Pack']
sv03_price = sv03_df[sv03_df['name'] == 'Obsidian Flames Booster Pack']
sv04_price = sv04_df[sv04_df['name'] == 'Paradox Rift Booster Pack']
sv05_price = sv05_df[sv05_df['name'] == 'Temporal Forces Booster Pack']
sv06_price = sv06_df[sv06_df['name'] == 'Twilight Masquerade Booster Pack']
sv07_price = sv07_df[sv07_df['name'] == 'Stellar Crown Booster Pack']
sv08_price = sv08_df[sv08_df['name'] == 'Surging Sparks Booster Pack']
sv09_price = sv09_df[sv09_df['name'] == 'Journey Together Booster Pack']
sv_151_price = sv_151_df[sv_151_df['name'] == '151 Booster Pack']
sv_pf_price = sv_pf_df[sv_pf_df['name'] == 'Paldean Fates Booster Pack']
sv_sf_price = sv_sf_df[sv_sf_df['name'] == 'Shrouded Fable Booster Pack']
sv_pe_price = sv_pe_df[sv_pe_df['name'] == 'Prismatic Evolutions Booster Pack']

prices = pd.concat([sv01_price, sv02_price, sv03_price, sv04_price, sv05_price, sv06_price, sv07_price, sv08_price, sv09_price, sv_151_price, sv_pf_price, sv_sf_price, sv_pe_price])

prices = prices[['marketPrice', 'groupId']]
prices['set'] = prices['groupId'].apply(get_textset)

def popularity_def(price):
    if price >= 10:
        return 1
    elif price >= 7:
        return 2
    elif price >= 6:
        return 3
    elif price >= 5:
        return 4
    else:
        return 5

prices['popularity'] = prices['marketPrice'].apply(popularity_def)
prices = prices.sort_values(by='set')

average_price = master_df.groupby('set', sort = 'name')['marketPrice'].mean()

sp.stats.pearsonr(average_price, prices['popularity'])

PearsonRResult(statistic=np.float64(-0.6902804971814794), pvalue=np.float64(0.009011909812729986))